#nav-bar{
    background: transparent;
     backdrop-filter: blur(10px);
      
}
body{
   font-family: Black Ops One;
}
#fx{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#Skills{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.banner{
    background-image: url(../1.jpeg);
    background-size: cover;
    padding: 200px 0px;
    color: aliceblue;
}
.ab{
    background-image: url(../1.jpeg);
    background-size: cover;
    padding: 200px 0px;
    color: aliceblue; 
}
.se{
    width: 300px;
}
.cd{
    background-image: url(../1.jpeg);
    background-size: cover;
    padding: 200px 0px;
    color: aliceblue; 
}
.co{
    background-image: url(../1.jpeg);
    background-size: cover;
    padding: 200px 0px;
    color: aliceblue; 
}
h1{
    display: flex;
    justify-content: center;
}

.social-icons {
    margin-top: 10px;
    display: absolute;
    align-items: center;
    justify-content: center;
}


#fs{
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 20px;
    font-size: 50px;
    border: 1px solid;
    border-collapse: collapse;
    align-self: center;

}

